name: Build QT for ARM64 Linux

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-qt-arm64-linux.yml'
      - 'qt-arm64-linux/Dockerfile'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build-qt-arm64-linux.yml'
      - 'qt-arm64-linux/Dockerfile'
  workflow_dispatch:

jobs:
  build-qt-arm64-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/edgetx/edgetx-qt-arm64-linux
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=qt-6.9.3
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push QT for ARM64 Linux
        uses: docker/build-push-action@v6
        with:
          context: qt-arm64-linux/
          file: qt-arm64-linux/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
